<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper">

  <!-- Arguments -->
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
  <xacro:arg name="fake_hardware" default="true"/>

  <!-- Vollständiges URDF mit Gripper -->
  <xacro:include filename="$(find piper_description)/urdf/piper_description.xacro" />

  <!-- ros2_control-Xacro einbinden -->
  <xacro:include filename="piper.ros2_control.xacro" />

  <!-- ros2_control-Makro aufrufen -->
  <xacro:piper_ros2_control
      name="piper_hw"
      initial_positions_file="$(arg initial_positions_file)"
      fake_hardware="$(arg fake_hardware)" />

</robot>

