isaac/scenes/BAKScene2.usd
isaac/scenes/BAKScene_old.usd
isaac/scenes/editing_layer_bak.usd
isaac/scenes/our_table.usd
isaac/scenes/table_bak.usd

ros-g29-force-feedback/
ros2_ws/fake_steering.py
ros2_ws/src/ros-g29-force-feedback/

.vscode/

# ROS 2 generated folders
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python cache
__pycache__/
*.pyc
